body {
    font-family:'Helvetica';
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li{
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica';
    font-size: 2em;
}
p {
    fon-family:'Helvetica';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
